# Makefile for libtime_window
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system date_time

APP_SRCC = example.cpp \
    converters.cpp \
    time_window_helper.cpp \
    Time.cpp \

APP_EXT_LIB_NAMES = \
	basic_objects \
	basic_parser \
	utils \
