# Makefile for libtime_window
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = time_window

LIB_BOOST_LIB_NAMES := system date_time

LIB_SRCC = example.cpp \
    converters.cpp \
    time_window_helper.cpp \
    Time.cpp \

LIB_EXT_LIB_NAMES = \
	basic_parser \
	basic_objects \
	utils \
